[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
plotly = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
pandas = "*"
psycopg2 = "*"
geopy = "*"
seaborn = "*"

[requires]
python_version = "3.8"
